<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Laundry Manager</title>
    </head>

    <body>
        <div class="customer-details">
            <p>New Customer?</p>
            <form action="">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Phone Number">
                <input type="text" placeholder="Number of clothes">
                <input type="submit">
            </form>
        </div>
    </body>

</html>